:root {
    --md-text-font: "Inter", "Roboto", sans-serif;
    --md-code-font: "JetBrains Mono", "Roboto Mono", monospace;
}

html {
    scroll-padding-top: 50px;
    font-size: 110%;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    letter-spacing: 0;
}

.md-typeset h1 {
    font-size: 1.6rem;
}

.md-typeset h2 {
    font-size: 1.5rem;
}

.md-typeset h3 {
    font-size: 1.3rem;
}

.md-typeset h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.md-typeset h5 {
    font-size: 0.9rem;
    font-weight: 700;
}

.md-typeset h6 {
    font-size: 0.8rem;
    font-weight: 700;
}

.md-typeset code {
    border-radius: 4px;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 100% !important;
}

nav.md-nav {
    padding-left: 5px;
}

nav.md-nav--secondary {
    border-left: revert !important;
}

.md-nav__title,
.md-nav__item--section > .md-nav__link {
    font-size: 0.9rem;
}

div.doc-contents {
    padding-left: 25px;
    border-left: 4px solid rgb(230, 230, 230);
}

[data-md-color-scheme="default"] .md-typeset hr {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1pt;
}

[data-md-color-scheme="slate"] .md-typeset hr {
    border-bottom-color: rgb(230, 230, 230);
}

.md-main__inner {
    margin-bottom: 1.5rem;
}

.md-footer__inner {
    display: none;
}

[data-md-color-scheme="default"] {
    --md-typeset-a-color: rgb(0, 128, 170) !important;
    --doc-heading-color: #ddd;
    --doc-heading-border-color: #ccc;
    --doc-heading-color-alt: #f0f0f0;
}

[data-md-color-scheme="slate"] {
    --md-hue: 232;
    --md-default-fg-color: hsla(var(--md-hue), 75%, 95%, 1);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 21%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 21%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 21%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 21%, 0.07);
    --md-typeset-a-color: rgb(0, 189, 164) !important;
    --md-typeset-color: var(--md-default-fg-color);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
    --md-code-hl-color: rgba(66, 135, 255, 0.15);
    --doc-heading-color: rgb(25, 25, 33);
    --doc-heading-border-color: rgb(25, 25, 33);
    --doc-heading-color-alt: rgb(33, 33, 44);
}

h3.doc-heading,
h4.doc-heading {
    background-color: var(--doc-heading-color);
    border: solid var(--doc-heading-border-color);
    border-width: 1.5pt;
    border-radius: 2pt;
    padding: 0 5pt 2pt;
}

code.doc-symbol.doc-symbol-heading.doc-symbol-class-attribute,
code.doc-symbol.doc-symbol-heading.doc-symbol-attribute,
small.doc-label.doc-label-class-attribute {
    display: none;
}

h4.doc-heading,
h5.doc-heading,
h6.heading {
    background-color: var(--doc-heading-color-alt);
    border-radius: 2pt;
    padding: 0 5pt 2pt;
}
